<div class="content">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pool.name %>
</p>
<p style="margin-left:50px;">
	<% if @pool.games.count == 0 %>
	<p> Empty Pool </p>
	<% else %>
	<strong> Users: </strong>
	<br>
	  <tbody>
	    <% @pool.games.each do |game| %>
	      <tr>
	        <td><%= game.user_id %></td> 
	        <% if game.user_id== current_user.id %>
	       	<td><%= link_to 'Leave Pool', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	       	<% end %>
	      </tr>
	      <br>
	      <br >
	    <% end %>
	  <% end %>
	       <%= link_to "Roll", {:controller => 'pools', :action => "roll"}%> 
	  </tbody>
</p>
<%= link_to 'back', pools_path %>



</div>